// Custom Variables

$blue:    #4190C2;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #F2DB57;
$green:   #44B749;
$teal:    #13828D;
$cyan:    #4da8b1;

$link-decoration: none;

// Accordion
$accordion-icon-color: #fff;
$accordion-icon-active-color: #fff;

$primary: #44B749;